
  :root {
    --bg: white;
    --text: black;
    --subtext: black;
    --linktext: black;
    --underline: #c0c0c0;
    --sectionbg: white;
    --buttoncolor: #ffffff;
  }

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin: 20px;
  text-align: center;

}

.header__avatar {
  border-radius: 50%;
  max-width: 240px;
  max-height: 240px;
  border: 5px solid transparent;
  cursor:  pointer;
  transition: all 0.3s;
  transform-origin: center;

}

.header__avatar:hover {
  border: 5px solid var(--text);
  border-color: #FAA5C9;
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px #FAA5C9;

}
.header__title {
  margin: 30px 0 10px 0;
  font-size: 32px;
  line-height: 1.2;
  font-family: "Montserrat";
}

.header__subtitle {
  color: var(--subtext);
  font-size: 20px;
  line-height: 1.4;
  margin: 0;
  margin-top: 60px;
}

.links {
  width: 340px;
  margin-bottom: 40px;
}

.links__header {
  font-family: "Montserrat";
  color: black;
  font-size: 24px;
  line-height: 1.4;
  margin: 0 0 15px 0;
}

.links__container {
  list-style-type: none;
  background: var(--sectionbg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 10px 10px;
  gap: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  box-sizing: border-box;
  margin: 0;
}

.links__link,
.links__title {
  font-size: 14px;
  font-size: 1.4;
}

.links__link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 10px;
  gap: 30px;
  border-bottom: 1px solid var(--underline);
  width: 280px;
  align-items: center;
}
.linsk__link:hover {
  text-decoration: underline;
}

.links__link:last-child {
  border-bottom: none;
}

.linsk__link,
.links__link:visited {
  margin-left: -80px;
  text-decoration: none;
  color: var(--linktext);
  color: -webkit-link;
}

.links__title {
  margin: 0;
  min-width: 100px;
}

footer {
  margin: 0 0 40px 0;
}
.button-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 320px;
  background: var(--linktext);
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 1.4;

  color: var(--buttoncolor);
  text-decoration: none;
  cursor: pointer;
}

.button-link:hover {
  transform: scale(1.1);
  background-color: hotpink;
  }


.swal2-styled.swal2-confirm {

  background-color: var(--linktext)!important

}
.icon {
  width: 24px;
}
.header__job {
  padding-top: 0px;
  text-align: center;
}